# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# Secrets
secrets.json
secrets.env

# IDEs
.vscode
.idea

# Images to be resized
images_original/*
!images_original/.gitkeep

# Images already resized
images_resized/*
!images_resized/.gitkeep
